button {
    background-color: #ec3406;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 0px 0px;
}

button:hover {
    background-color: #21ec06;
}