ul, ol {
    list-style-type: none;
}

ul.square, ol.square {
    list-style-type: square;
}

ul.dics, ol.disc {
    list-style-type: disc;
}

ul.circle, ol.circle {
    list-style-type: circle;
}

li {
    margin: 15px;
}